<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="uf">
            <h2><span jhiTranslate="projetoBaseChronusGatewayApp.projetoBaseChronusUf.detail.title">Uf</span> {{ uf.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetoBaseChronusGatewayApp.projetoBaseChronusUf.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ uf.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="projetoBaseChronusGatewayApp.projetoBaseChronusUf.pais">Pais</span></dt>
                <dd>
                    <div *ngIf="uf.paisId">
                        <a [routerLink]="['/pais', uf.paisId, 'view']">{{ uf.paisId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/uf', uf.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
