<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tip-usu-pessoa-entid-heading" jhiTranslate="projetoBaseChronusGatewayApp.projetoBaseChronusTipUsuPessoaEntid.home.createOrEditLabel">Create or edit a Tip Usu Pessoa Entid</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoBaseChronusGatewayApp.projetoBaseChronusTipUsuPessoaEntid.pessoa" for="field_pessoa">Pessoa</label>
                    <select class="form-control" id="field_pessoa" name="pessoa" formControlName="pessoaId">
                        <option *ngIf="!editForm.get('pessoaId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="PessoaOption.id" *ngFor="let PessoaOption of pessoas; trackBy: trackById">{{ PessoaOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('pessoaId')!.invalid && (editForm.get('pessoaId')!.dirty || editForm.get('pessoaId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('pessoaId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoBaseChronusGatewayApp.projetoBaseChronusTipUsuPessoaEntid.entidade" for="field_entidade">Entidade</label>
                    <select class="form-control" id="field_entidade" name="entidade" formControlName="entidadeId">
                        <option *ngIf="!editForm.get('entidadeId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="EntidadeOption.id" *ngFor="let EntidadeOption of entidades; trackBy: trackById">{{ EntidadeOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('entidadeId')!.invalid && (editForm.get('entidadeId')!.dirty || editForm.get('entidadeId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('entidadeId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoBaseChronusGatewayApp.projetoBaseChronusTipUsuPessoaEntid.tipoUsuario" for="field_tipoUsuario">Tipo Usuario</label>
                    <select class="form-control" id="field_tipoUsuario" name="tipoUsuario" formControlName="tipoUsuarioId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="TipoUsuarioOption.id" *ngFor="let TipoUsuarioOption of tipousuarios; trackBy: trackById">{{ TipoUsuarioOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
